    <<<<<<< HEAD

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.container {
    width: 90%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(92, 89, 89, 0.623);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7e9f82;
    padding: 1rem;
}

.form-image img {
    width: 30rem;
    height: 30rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
}

.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0.2rem;
    color: #c69682;
}

.login-botton button {
    border: none;
    width: 7rem;
    background-color: #c69682;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-botton button:hover {
    background-color: #7e9f82;
}

.login-botton button a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.2rem;
    background-color: #7e9f82;
    margin-top: 0.3rem;
    position: absolute;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #c69682;
    font-family: 'Quicksand', sans-serif;
}

.input-box select {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #c69682;
    font-family: 'Quicksand', sans-serif;
}

.input-box input:hover {
    background-color: #c6968242;
}

.input-box select:hover {
    background-color: #c6968242;
}

.input-box input::focus-visible {
    outline: 1px solid #c69682;
}

.input-box select::focus-visible {
    outline: 1px solid #c69682;
}

.input-box label,
{
    font-size: 0.75rem;
    font-weight: 600;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.gender-title h6 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Quicksand', sans-serif;
}

.input-box input::placeholder {
    color: #000000;
}

.input-box select::placeholder {
    color: #000000;
}

#outros{
    display: none;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin: 0.62rem;
    padding: 0 0.5rem;
}

.gender-inputs {
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
    
}

.gender-input label {
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}


.continue-botton button {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    padding: 0.62rem;
    background-color: #c69682;
    border-radius: 5px;
    cursor: pointer;
}

.continue-botton button:hover {
    background-color: #7e9f82;
}

.continue-botton button a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    font-family: 'Quicksand', sans-serif;
}



@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 15rem;
        padding-right: 5rem;
        padding-left: 1rem;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-input {
        margin-top: 0.5rem;
    }

