    <<<<<<< HEAD
/*adicionar link com as fontes que quero*/

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Red+Hat+Mono&display=swap');
* {
    /* *pois quero selecionar toda a página*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Mono', monospace;
}

body {
    width: 100%;
    /*largura da tela toda*/
    height: 100vh;
    /*altura da tela toda*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ;
    /*escolher a cor de fundo*/
}

.container {
    width: 80%;
    height: 80vh;
    /*vh significa altura da janela de visualização*/
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    /*para fazer a sombra nas bordas do container*/
}

.form-image {
    width: 50%;
    /*50% de 80% do container*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: /*escolher a cor da parte da imagem*/
    ;
    padding: 1rem;
}

.form-image img {
    /*configurar altur e largura da imagem em rem*/
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column background-color: /*escolher a cor da parte da imagem*/
    ;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 100%;
    margin: 0.2rem;
}

.login-botton button {
    border: none;
    background-color: green;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}


/*para quando passar o mouse emcima ele troque de cor*/

.login-botton button:hover {
    background-color: blueviolet;
}


/*para alterar a fonte do texto do botão*/

.login-botton button a {
    text-decoration: none;
    font-weight: 500;
    color: #000;
}


/*Adicionar linha decorativa*/

.form-header h1::after {
    content: '';
    display: block;
    width: 10rem;
    height: 0.2rem;
    background-color: black;
    margin: 0 auto;
    position: absolute;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    /*deixar um do lado do outro*/
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px/*cor*/
    ;
}

.input-box input:hover {
    background-color: pink;
}

.input-box input::focus-visible {
    outline: 1px solid pink;
}


/*alterar os textos dos inputs*/

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: green;
}

.input-box input::placeholder {
    color: green;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.80rem;
    font-weight: 600;
    color: green;
}

.continue-botton button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    padding: 0.62rem;
    background-color: purple;
    border-radius: 5px;
    cursor: pointer;
    /*para ficar a mãozinha ao invés do cursor*/
}

.continue-botton button:hover {
    background-color: green;
}

.continue-botton button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: white;
}


/*deixar o formulário responsivo com media query*/

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    /*adicionar uma scroll*/
    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        /*não ficar um do lado do outro*/
        max-height: 15rem;
        padding-right: 5rem;
        padding-left: 1rem;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
    =======@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
    font-family: 'DotGothic16',
    sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Red+Hat+Mono&display=swap');
    font-family: 'Red Hat Mono',
    monospace;
    >>>>>>>c180dc8990b18131dff4f072078073d4ee701437